<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">

          <nav class="navbar navbar-expand-sm bg-light ">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" routerLink="Github search">Github search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/portfolio">My Porfolio</a>
              </li>
              
              
            </ul>
          </nav>
            
            
        </div>
    </div>
</body>
</html>


  
  
