<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="checker-container">
            <h1>Github Reporsitory checker</h1>
            <div>
                <h2>SEARCH BY:</h2>
                <input type="checkbox" name="username" id="username">
                <input type="checkbox" name="repository" id="repository">
                <input type="text" name="inputted" id="inputted">
                <button type="submit">submit</button>
            </div>
           

        </div>
    </div>
</body>
</html>
