<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="checker-container">
            <h1>Github Reporsitory checker</h1>
            <div class="searchBy">
                <h2>SEARCH BY:</h2>
                <label for="username">User name</label>
                <input type="radio" name="searchBy" class="radio" id="username"><br>
                <label for="repository">Reporsitory</label>
                <input type="radio" class="radio" name="searchBy" id="repository"><br>
                <input type="text" name="inputted" id="inputted" placeholder="search..."><br>
                <button type="submit">submit</button>
            </div>
           <div class="respose-section">
               <div class="response-name"> response-name here</div>
               <div class="response-description"> response-description here</div>
           </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <h1>About me</h1>
            <h3>I am a professional <span>software developer</span> dealing with both front end and back end softwares.. </h3>
            <p>I have various project in github.</p>
            <p>The following is my Github information</p>
        </div>
        <div class="row">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">Profile Photo </div>
                <div class="card-body text-success">
                    <!-- <img ng-src="string"></img> -->
                </div>
                <div class="card-footer bg-transparent border-success">Name Elijah Kiragu</div>
            </div>
            <div class="myRepo-section">
                <h4><strong>Github username:</strong>eliki-hue</h4>
                <h5><strong>My Github repositories:</strong></h5>
                <ul>
                    <li>akan-name-marcher</li>
                    <li>pie-pizza-shop</li>
                    <li>BuzzQuotes</li>
                    <li>Delani-studio</li>
                    <li>goals</li>
                    <li>Github-repo-search</li>
                </ul>
            </div>
        </div>
        </div>
</body>
</html>
