<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="checker-container">
            <h1>Github Reporsitory checker</h1>
            <div class="searchBy">
                <h2>SEARCH BY:</h2>
                <label for="username">User name</label>
                <input type="radio" name="searchBy" class="radio" id="username"><br>
                <label for="repository">Reporsitory</label>
                <input type="radio" class="radio" name="searchBy" id="repository"><br>
                <input type="text" name="inputted" id="inputted" placeholder="search..."><br>
                <button type="submit">submit</button>
            </div>
           <div class="respose-section">
               <div class="response-name"> response-name here</div>
               <div class="response-description"> response-description here</div>
           </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <h1>About me</h1>
            <h3>I am a professional <span>software developer</span> dealing with both front end and back end softwares.. </h3>
       
        </div>
        <div class="row">
            
        </div>
        </div>
</body>
</html>
