@import "~bootstrap/dist/css/bootstrap.css";

.checker-container {
    margin: 20px;
    font-size: larger;
    font-weight:700;
    background-color: rgb(153, 141, 204);
    -webkit-box-shadow: -8px 10px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 10px 16px 0px rgba(0,0,0,0.75);
box-shadow: 8px 10px 16px 0px rgba(0,0,0,0.75);
    

}
.checker-container *{
    margin: 10px;
}
.searchBy{
    margin: 20px;
}
#inputted{
    -webkit-box-shadow: -8px 10px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 10px 16px 0px rgba(201, 36, 36, 0.75);
box-shadow: -5px 5px 10px 0px rgba(65, 42, 170, 0.75);
    
}
span{
    color: blueviolet;
}
.info{
    margin: 20px;
    display:grid;
}