@import "~bootstrap/dist/css/bootstrap.css";

.checker-container {
    margin: 20px;
    font-size: larger;
    font-weight:700;
    background-color: rgb(179, 171, 214);
    -webkit-box-shadow: -8px 10px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 10px 16px 0px rgba(0,0,0,0.75);
box-shadow: 8px 10px 16px 0px rgba(0,0,0,0.75);
    

}
.checker-container *{
    margin: 10px;
    
    
}
.searchBy{
    margin: 20px;
}
#inputted{
    -webkit-box-shadow: -8px 10px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 10px 16px 0px rgba(201, 36, 36, 0.75);
box-shadow: -5px 5px 10px 0px rgba(182, 173, 219, 0.75);
    
}

.info{
    margin: 20px;
    display:grid;
}
span{
    font-weight: 500;
}
.response {
    background-color: rgb(213, 194, 219);
    margin: 30px;
    font-size: larger;
    
}