<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="checker-container">
            <h1>Github Reporsitory checker</h1>
            <div class="searchBy">
                <h2>SEARCH BY:</h2>
                <form  (ngSubmit)="userInput(userForm.value)" #userForm='ngForm'>
                 <input type="text" name="username" (ngModel)="newUser.username" id="inputted" #quote="ngModel" placeholder="search..."><br>
                <button type="submit" >submit</button>
                </form>
            </div>
            <!-- <button type="submit" (click)="getUser()">view results</button> -->
           <div class="respose-section" *ngFor="let record of received">
              
               <div class="response-name"> 
                <ul >
                    <li><strong>{{record.name}}</strong>  --<span *ngIf="record.description">{{record.description}}</span> <span>The project was last updated on {{record.updated_at}}</span>
                   </li>
               </ul>
               </div>
               <div class="response-description"> 
               
               </div>
           </div>

        </div>
    </div>
</body>
</html>
